* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #F6E6D7;
}

h1 {
  color: #F25B4B;
}

h2 {
  color: #000;
}

p {
  color: #000;
}

#top-content {
  width: 80%;
  height: 50%;
  margin-top: 15%;
  margin-left: 10%;
}

#top-content-left {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/redSunGradient.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#top-content-right {
  float: right;
  width: 40%;
  height: 80%;
  overflow: hidden;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 5%;
}

#top-content-right h1 {
  font-size: 3em;
}

#top-content-right h2 {
  font-size: 1.2em;
  margin-top: 4%;
  letter-spacing: 0.1em;
  font-weight: normal;
}

#top-content-right p {
  margin-top: 4%;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

#bottom-content {
  width: 80%;
  height: 50%;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-top: 5%;
}

#bottom-content #card1 {
  width: 22.5%;
  height: 95%;
  display: inline-block;
  background-image: url("../img/card1.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2.5%;
}

#bottom-content #card1 button {
  background: none;
  border: none;
  margin-top: 65%;
  margin-left: 25%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
}

#bottom-content #card2 {
  width: 22.5%;
  height: 95%;
  display: inline-block;
  background-image: url("../img/card2.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2.5%;
}

#bottom-content #card2 button {
  background: none;
  border: none;
  margin-top: 65%;
  margin-left: 8.5%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
}

#bottom-content #card3 {
  width: 22.5%;
  height: 95%;
  display: inline-block;
  background-image: url("../img/card3.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2.5%;
  border-radius: 2.5%;
}

#bottom-content #card3 button {
  background: none;
  border: none;
  margin-top: 65%;
  margin-left: 25%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
}

#bottom-content #card4 {
  width: 22.5%;
  height: 95%;
  display: inline-block;
  background-image: url("../img/card4.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2.5%;
  border-radius: 2.5%;
}

#bottom-content #card4 button {
  background: none;
  border: none;
  margin-top: 65%;
  margin-left: 15%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
}

#bottom-content-about {
  display: none;
  width: 80%;
  height: 50%;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-top: 5%;
  letter-spacing: 0.2em;
}

#bottom-content-about #about-left {
  width: 50%;
  height: 95%;
  float: left;
}

#bottom-content-about #about-left p {
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.2em;
  margin-bottom: 30%;
}

#bottom-content-about #about-left p button {
  padding: 15px;
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
}

#bottom-content-about #about-right {
  width: 50%;
  height: 95%;
  float: right;
  text-align: left;
}

#bottom-content-portfolio {
  display: none;
  width: 80%;
  height: 50%;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-top: 5%;
  letter-spacing: 0.2em;
}

#bottom-content-portfolio #portfolio-left {
  width: 50%;
  height: 95%;
  float: left;
}

#bottom-content-portfolio #portfolio-left p {
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.2em;
  margin-bottom: 30%;
}

#bottom-content-portfolio #portfolio-left p button {
  padding: 15px;
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
}

#bottom-content-portfolio #portfolio-right {
  width: 50%;
  height: 95%;
  float: right;
  text-align: left;
}

#bottom-content-skills {
  display: none;
  width: 80%;
  height: 50%;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-top: 5%;
  letter-spacing: 0.2em;
}

#bottom-content-skills #skills-left {
  width: 50%;
  height: 95%;
  float: left;
}

#bottom-content-skills #skills-left p {
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.2em;
  margin-bottom: 30%;
}

#bottom-content-skills #skills-left p button {
  padding: 15px;
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
}

#bottom-content-skills #skills-right {
  width: 50%;
  height: 95%;
  float: right;
  text-align: left;
}

#bottom-content-contact {
  display: none;
  width: 80%;
  height: 50%;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-top: 5%;
  letter-spacing: 0.2em;
}

#bottom-content-contact #contact-left {
  width: 50%;
  height: 95%;
  float: left;
}

#bottom-content-contact #contact-left p {
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.2em;
  margin-bottom: 30%;
}

#bottom-content-contact #contact-left p button {
  padding: 15px;
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
}

#bottom-content-contact #contact-right {
  width: 50%;
  height: 95%;
  float: right;
  text-align: left;
}

.test {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */